* {
    margin: 0;
    padding: 0;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.banner {
    background-image: url(../resources/Banner\ Image.png);

    height: 600px;
    width: 1320px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}

.set-offer-style {
    margin-top: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

#offer-h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

#offer-h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#offer-h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer img {
    width: 805px;
    height: 500px;
}

.party-banner {

    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    height: 600px;
    width: 1320px;
    margin-top: 120px;
    background-size: cover;
    margin-left: -40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.party-banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.text-content {
    margin-left: 126px;
}

.img-content {
    margin-top: 68px;
    margin-right: 138px;
}

.text-content h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    max-width: 642px;
}

.text-content p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-top: 24px;
}

#join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: none;
    border: none;
    margin-top: 48px;
}

.invite-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 20px;
    height: 482px;
    width: 100%;
    margin-top: 120px;
    text-align: center;
    padding-top: 100px;
}

.invite-button {
    padding: 16px 32px;
    background: #F00;
    border: none;
    color: #FFF;
    border-radius: 10px;
    margin-top: 48px;
}

.invite-text {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.text-hd {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.new-offer-first h4 {
    margin-bottom: 16px;
}

.new-offer-first h2 {
    margin-bottom: 22px;
}

.new-offer-first p {
    width: 393px;
}

.new-offer-first {
    padding-right: 70px;
}

.new-offer-third {
    padding-left: 90px;
}

.title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.new-offer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new-offer-second {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #F00;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.sec-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.para {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.holiday-content{
    align-items: center;
    padding-left: 80px;
}
.holiday-content h5 {
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 120px;
}
.holiday-content p{
    text-align: center;
    width: 1068px;
}

.holiday-content h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 28px;
}
#red{
    color: #F00; 
}
.gift-banner{
    position: relative;
    margin-top: 64px;
    margin-left: 850px;
    margin-bottom: 0;
}
.img1{
    position: absolute;
    left: -150px;
    bottom: 50px;
    
    
}


.gift-banner2{
    position: relative;
    transform: translateY(-5px);
  margin-top: 0;
  margin-left: -40px;
}
.img2{
    position: absolute;
    transform: translateY(-650px);
    
}
.product-text{
    margin-top: 120px;
}
.product-text p{
    width: 896px;
}
.product-img{
    display: flex;
    margin-top: 48px;
    margin-left: -40px;
    
}
.first-cloumn{
    margin-right: 24px;
}
.second-column{
    margin-right: 24px;
}
#row1{
    margin-bottom: 24px;
}
#row2{
    margin-bottom: 24px;
}
#row3{
    margin-bottom: 24px;
}
.subscribe-container{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
width: 100%;
margin-top: 120px;
height: 616px;
}
.subscribe-content{
    text-align: center;
    padding-top: 80px;
    
    
}
.subscribe-content h2{
    margin-top: 40px;
    margin-bottom: 22px;
}

.subscribe-content p{
    max-width: 866px; 
    margin: 0 auto;
    margin-bottom: 48px;
}
.subscribe-button{
    text-align: center;
    
}
.email{
    width: 648px;
    height: 72px;
    border: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subs-btn{
    background: #F00;
    padding: 24px 56px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
#footer{
    width: 1600px;
height: 609px;
flex-shrink: 0;
background: #070211;
margin-top: 120px;
}
.contact-info{
    display: flex;
}
.footp{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.p1{
    width: 375px;
    padding-top: 120px;
    padding-left: 10px;
}
.contact{
    padding-top: 120px;
    padding-left: 550px;
}
.divider{
    width: 1320px;
height: 1px;
margin-left: -50px;
margin-top: 50px;
margin-bottom: 48px;

border: 0; /* Remove default border */
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.second-part {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.social-link {
    margin: 0 10px; /* Add space between links */
     
}
#link{
    margin-left: 600px;
}
.end{
    display: flex;
}
.p2{
margin-left: 900px;
}

/* .gift-banner{
    height: 433px;
    width: 429px;
    background: url(../resources/Rectangle\ 1.png) ;
    margin-top: 64px;
    margin-left: 805px;
    background-position:right ; 
} */

/* .banner {
    background-image: url(../resources/Banner\ Image.png);
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */