* {
    margin: 0;
    padding: 0;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.banner {
    background-image: url(../resources/Banner\ Image.png);
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}